/*
当前参数：
1 rem = 16 px

*/
:root {
    --mcolor-dark-red: #860000;
    --mcolor-dark-white: #dddddd;
    font-size: 16px;
}

.status_icon_span {
    width:0.625rem;
    height:0.625rem;
    display:inline-block;
    margin-inline:0.625rem;
}

.Badge_Newest {
    --badge-max-heigh: 0.8rem;
    --badge-font-size: 0.7rem;
    background: var(--mcolor-dark-red);
    color: var(--mcolor-dark-white);
    font-size: var(--badge-font-size);
    padding: calc(var(--badge-max-heigh) - var(--badge-font-size));
}